/* Estilos generales */

/* Se establece la fuente predeterminada, elimina márgenes y rellenos del cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 100px;
    padding: 0;
    background-image:url(img/Fondo.gif); 
    background-repeat: no-repeat;
    background-size: cover;
    color: azure;
    text-align: center;
}

/* Limita el ancho del contenido y lo centra en la página */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilo del título principal */
h1 {
    font-size: 120px;
    text-align: center;
    margin-bottom: 50px;
}

/* Estilos para el formulario */

/* Se establece el fondo del formulario, agrega relleno y esquinas redondeadas */
form {
    background-color: #fff; /* Fondo blanco */
    padding: 20px;
    border-radius: 10px;
}

/* Estilo para las etiquetas */
label {
    display: block; /* Hace que las etiquetas ocupen toda la anchura del contenedor */
    margin-bottom: 10px; /* Espacio entre etiquetas */
    font-size: 20px;
}

/* Estilo para el campo de entrada de texto */
input[type="text"] {
    width: 35%; 
    padding: 15px;
    margin-bottom: 10px; /* Espacio debajo del campo de entrada */
    border: 1px solid #5603f041; /* Borde delgadp con color */
    border-radius: 20px; /* Esquinas redondeadas */
}

/* Estilo para los botones */
.buscar{
    padding: 10px 20px;
    background-color: #c450db; 
    color: #080808; 
    border: none; /* Sin borde */
    border-radius: 10px; 
    cursor: pointer;
}
.borrar {
    padding: 10px 20px;
    background-color: #a5abb1; 
    color: #0c0c0c; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer;
}
/* Cambia el color de fondo del botón cuando se pasa el mouse sobre él */
.buscar:hover {
    background-color: #f700ff;
    color: white;
    transition-duration: 0.5s;
}
.borrar:hover{
    background-color: #5a5c5e;
    color: white;
    transition-duration: 0.5s;
}

/* Estilos para la sección de resultados */
@font-face {
    font-family: "Esto" ;
    src: url(fonts/PatrickHandSC-Regular.ttf);
}

#charactersData {
    padding: 1%;
    width: 100%;
    margin-top: 50px;
    font-family: "Esto";
}

/* Estilo para las imágenes en la sección de resultados */
#charactersData h2 {
    max-width: 100%; /* Ancho máximo de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    float: left; /* Hace que la imagen sea un elemento de bloque */
    margin-top: 25px; /* Espacio superior para separar la imagen del texto */
    margin-left: 145px;
}

#charactersData img{
    border-radius: 20px;
}

#charactersData img:hover{
    transform: scale(120%);
    transition-duration: 1s;
}

/* Estilo para los párrafos en la sección de resultados */
#charactersData p {
    background-color: #0a0a0ad7;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: left;
    padding: 1%;
    margin-top: 10px;
    margin-left: 350px;
    margin-right: 175px;
}
/* Estilo para h4-error*/
#charactersData h4{
    background-color: #0a0a0ad7;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
    padding: 1%;
    margin-top: 10px;
    margin-left: 400px;
    margin-right: 400px;
}